@media screen and (min-width: 0em) and (max-width: 37.5em){
	tr.mobileup_11{
		display: none;
	}

	input.menu{
		display: none;
	}

	label{
	    left: 0%;
	    width: 100%;
	    color: #ffffff;
	    background: #00183f;
	    position: fixed;
	    text-align: center;
	    bottom: 0%;
	    z-index: 2;
	    cursor: pointer;
	    padding: 5px;
	    font-family: Arial;
	}

	nav{
		font-family: Arial;
	    background: #0f92d8;
	    margin: 0 auto;
	    max-width: 100%;
	    width: 100%;
	    position: fixed;
	    left: 0;
	    bottom: -200px;	}

	ul{
	    padding: 15px;
	    margin-top: -15px;
	}

	li{
	    list-style-type: none;
	    border-bottom: 1px solid black;
	    text-align: center;
	    line-height: 30px;
	    padding: 10px;
	}

	li:last-child{
	    border: 0;
	}

	li:hover{
	    background: #b2e4ff;
	}

	a{
	    text-decoration: none;
	    font-weight: bolder;
	}

	input.menu:checked ~ nav{
	    bottom: 0;
	    transition: bottom 0.5s ease;
	}

	input.menu:not(:checked) ~ nav{
	    bottom: -300px;
	    transition: bottom 0.5s ease;
	}

	.title{
		margin: 0 auto;
    	max-width: 70%;
		font-size: 2em;
		text-align: center;
	}

	.section{
		order: 3;
		display: flex;
	    flex-flow: row wrap;
	    margin: 0 auto;
	    max-width: 95%;
	}

	article{
		background: white;
		order: 1;
		width: 100%;
	}

	img{
		width: 200px;
		height: 200px;
	}

	.aside1{
		width: 100%;
		order: 2;
	}

	.aside2{
		margin-top: 15px;
		width: 100%;
		order: 3;
	}

	h2{
		border-bottom: 1px solid black;
		color: #474747;
		font-family: Arial;
	}

	form{
		font-family: Arial;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}

	.order{
		text-align: center;
		padding-top: 50px;
	}

	.padding_bottom{
		padding-bottom: 35px;
	}

	table{
		font-family: Arial;
		border-collapse: collapse;
		width: 95%;
	}

	tbody{
		font-family: Arial;
	}

	a{
		text-decoration: none;
		color: #609dff;
	}

	tr.border_bottom{
		border-bottom: 1px solid black;
		width: 100%;
	}

	tr.mobileup_1{
		border-bottom: 1px solid black;
		width: 100%;
	}

	td{
		color:  #848484;
	}

	.Nafn_midar{
		padding-top: 15px;
		font-weight: bolder;
		color: #474747;
	}

	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
}

@media screen and (min-width: 37.5em) and (max-width:60em){

	input.menu, label{
		display: none;
	}

	tr.mobileup_11{
		display: none;
	}

	nav{
		width: 100%;
		order: 1;
		font-family: Arial;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    background-color: #333;
	}

	li{
		display: inline-block;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #111;
	}

	.title{
	    text-align: center;
	    max-width: 70%;
	    margin: 0 auto;
	}

	.section{
		order: 3;
		display: flex;
	    flex-flow: row wrap;
	    margin: 0 auto;
	    max-width: 95%;
	}

	article{
		background: white;
		order: 1;
		width: 100%;
	}

	img{
		width: 200px;
		height: 200px;
	}

	.aside1{
		width: 100%;
		order: 2;
	}

	.aside2{
		margin-top: 15px;
		width: 100%;
		order: 3;
	}

	h2{
		border-bottom: 1px solid black;
		color: #474747;
		font-family: Arial;
	}

	form{
		font-family: Arial;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}

	.order{
		text-align: center;
		padding-top: 50px;
	}

	.padding_bottom{
		padding-bottom: 35px;
	}

	table{
		font-family: Arial;
		border-collapse: collapse;
		width: 95%;
	}

	tbody{
		font-family: Arial;
	}

	a{
		text-decoration: none;
		color: #609dff;
	}

	tr.border_bottom{
		border-bottom: 1px solid black;
		width: 100%;
	}

	tr.mobileup_1{
		border-bottom: 1px solid black;
		width: 100%;
	}

	td{
		color:  #848484;
	}

	.Nafn_midar{
		padding-top: 15px;
		font-weight: bolder;
		color: #474747;
	}

	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
} 



@media screen and (min-width: 60em) and (max-width: 80em){

	input.menu, label{
		display: none;
	}

	tr.mobileup_11{
		display: none;
	}

	nav{
		width: 100%;
		order: 1;
		font-family: Arial;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    background-color: #333;
	}

	li{
		display: inline-block;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #111;
	}

	.title{
		margin: 0 auto;
		max-width: 70%;
	    text-align: center;
	}

	.section{
		order: 3;
		display: flex;
	    flex-flow: row wrap;
	    margin: 0 auto;
	    max-width: 95%;
	}

	section{
		font-family: Arial;
		background: #cecece;
		color: #636363;
		line-height: 25px;
	}

	img{
		width: 200px;
		height: 200px;
	}

	.aside1{
		order: 2;
		width: 50%;
	}

	.aside2{
		order: 3;
		width: 49.5%;
	}

	h2{
		border-bottom: 1px solid black;
		color: #474747;
		font-family: Arial;
	}

	form{
		font-family: Arial;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}

	.order{
		text-align: center;
		padding-top: 50px;
	}

	.padding_bottom{
		padding-bottom: 35px;
	}

	table{
		font-family: Arial;
		border-collapse: collapse;
		width: 95%;
	}

	tbody{
		font-family: Arial;
	}

	a{
		text-decoration: none;
		color: #609dff;
	}

	tr.border_bottom{
		border-bottom: 1px solid black;
		width: 100%;
	}

	tr.mobileup_1{
		border-bottom: 1px solid black;
		width: 100%;
	}

	td{
		color:  #848484;
	}

	.Nafn_midar{
		padding-top: 15px;
		font-weight: bolder;
		color: #474747;
	}

	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

}

@media screen and (min-width: 80em){


	input.menu, label{
		display: none;
	}

	tr.mobileup_1{
		display: none;
	}

	nav{
		width: 100%;
		order: 1;
		font-family: Arial;
		opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    background-color: #333;
	}

	li{
		display: inline-block;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #111;
	}

	.title{
		width: 100%;
		margin: 0 auto;
    	max-width: 70%;
    	opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	.section{
		order: 3;
		width: 100%;
		display: flex;
	    flex-flow: row wrap;
	    margin: 0 auto;
	    max-width: 70%;
	}

	article{
		background: white;
		order: 2;
		width: 50%;
	}

	header{
		opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	section{
		opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	img{
		width: 400px;
		height: 400px;
		opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	.aside1{
		width: 24%;
		order: 1;
		opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	.aside2{
		width: 24%;
		order: 3;
		opacity: 0;
		animation: fadein 1s;
		animation-fill-mode: forwards;
		animation-delay: 6s;
	}

	h2{
		border-bottom: 1px solid black;
		color: #474747;
		font-family: Arial;
	}

	form{
		font-family: Arial;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}

	.order{
		text-align: center;
		padding-top: 50px;
	}

	.padding_bottom{
		padding-bottom: 35px;
	}

	table{
		font-family: Arial;
		border-collapse: collapse;
	}

	tbody{
		font-family: Arial;
	}

	a{
		text-decoration: none;
		color: #609dff;
	}

	tr.border_bottom{
		border-bottom: 1px solid black;
		width: 100%;
	}

	tr.mobileup_11{
		border-bottom: 1px solid black;
		width: 100%;
	}

	td{
		color:  #848484;
	}

	.Nafn_midar{
		padding-top: 15px;
		font-weight: bolder;
		color: #474747;
	}

	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

}

.fyrsti_texti{
	position: absolute;
	left: 35%;
	top: 40%;
	font-size: 3em;
	font-family: Arial;
	opacity: 0;
	animation: hideMe 5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

body{
	margin: 0 auto;
}

.bakgrunnur{
	display: flex;
	flex-flow: row wrap;
}

.Up_1, .Up_2, .Up_3, .Up_4, .Up_5{
	font-weight: bolder;
	padding-top: 35px;
	color: #474747;
}

.final{
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: Arial;
	font-weight: bolder;
	text-align: center;
}

.padding_header{
	padding: 15px;
	text-align: center;
}

.padding_section{
	padding: 30px;
}

.padding_aside{
	padding: 10px;
}

.topmenu{
	text-align: center;
}

.bil{
	padding-top: 50px;
}

.title{
	order: 2;
	display: flex;
	flex-flow: row wrap;
    padding-bottom: 15px; 
    font-size: 2em;
    font-weight: bolder;
    color: #777777;
    font-family: Arial;
}

header{
	font-size: 5em;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 2px;
	color: white;
	text-align: center;
}

section{
	font-family: Arial;
	background: #cecece;
	color: #636363;
	line-height: 25px;
}

.aside1, .aside2{
	border: 1px solid #a0a0a0;
	border-top: 0;
	border-bottom: 0;
	background: #f7f7f7;
}

input[type="Name"],[type="Number"],[type="Email"]{
	width: 97.5%;
}

@keyframes hideMe{
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}